<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Word Power</title>
		<script
			src="https://code.jquery.com/jquery-3.1.1.js"
			integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
			crossorigin="anonymous"
		></script>
		<script src="js/script.js"></script>
		<link
			rel="stylesheet"
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
		/>
		<style>
			body {
				padding-top: 0px;
			}
			.navbar {
				position: sticky;
			}
			.cards {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}
			.back-card {
				display: none;
			}
			.index {
				display: none;
			}
		</style>
	</head>
	<body class="container">
		<header>
			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">
							<span
								class="glyphicon glyphicon glyphicon-tree-deciduous"
							></span>
							Word Power
						</a>

						<ul class="nav navbar-nav">
							<li><a href="/">Home</a></li>
							<li><a href="/about">About</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

		<main>
			<div class="page-header">
				Mastered :<span class="mastered"> </span> Learn :<span
					class="learn"
				></span>
				Review :<span class="review"></span>
			</div>
			<div class="jumbotron">
				<div class="centered">
					<section class="cards">
						<div class="index"></div>
						<div class="type"></div>
						<div class="card"></div>
						<div class="back-card"></div>
					</section>
				</div>
			</div>
		</main>
		<button class="answer">Show Answer</button>
		<button class="sure">Correct</button>
		<button class="not-sure">Incorrect</button>
		<button class="next-card">Next Card</button>
		<footer>
			<p class="text-center text-muted">
				Developed by Dheeraj Pant
			</p>
		</footer>
	</body>
</html>
